body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
h2 {
    font-size: 45px;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 10px;
    background-color: limegreen;
    text-align: center;
}
#grid {
    display: grid;
    grid-template-columns: 2fr 7fr;
    border-bottom: 1px solid black;
}
ol {
    border-right: 1px solid black;
    margin: 0;
    padding-top: 10px;
    padding-left: 50px;
}
li {
    font-size: 25px;
}
.title {
    text-decoration:overline;
    text-shadow: 3px 2px 0px rgb(251, 255, 0);
    background-image: url(./img/title-background-image.jpg);
    background-size: cover;
    font-size: 50px;
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
    padding: 10%;
    background-position: center;
}
.contents {
    padding: 25px;
    font-size: 20px;
}
h3 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 60px;
}
.contents a {
    text-decoration: underline;
}
table {
    background-color: black;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
tr {
    background-color: white;
}
td {
    width: 20%;
}
@media(max-width:1000px) {
    #grid {
        display: block;
    }
    #grid ol {
        border-right: none;
    }

}